<div class="space-y-8">
  <!-- Header -->
  <div class="text-center">
    <h2 class="text-2xl font-bold text-gray-900 mb-2">Layout Manager</h2>
  </div>

  <div
    class="grid grid-cols-1 gap-8"
    [ngClass]="{ 'lg:grid-cols-2': view === 'both' }"
  >
    <!-- Export Section -->
    <div *ngIf="view !== 'import'">
      <app-json-export [room]="room"></app-json-export>
    </div>

    <!-- Import Section -->
    <div *ngIf="view !== 'export'">
      <app-json-import
        [importedJson]="importedJson"
        (import)="onImport($event)"
        (importedJsonChange)="onImportedJsonChange($event)"
      ></app-json-import>
    </div>
  </div>
</div>
